@font-face {
  font-family: OakSans-Black;
  src: url(../assets/fonts/OakSans-Black.woff2);
}
@font-face {
  font-family: OakSans-BlackItalic;
  src: url(../assets/fonts/OakSans-BlackItalic.woff2);
}
@font-face {
  font-family: OakSans-Bold;
  src: url(../assets/fonts/OakSans-Bold.woff2);
}
@font-face {
  font-family: OakSans-BoldItalic;
  src: url(../assets/fonts/OakSans-BoldItalic.woff2);
}
@font-face {
  font-family: OakSans-ExtraBold;
  src: url(../assets/fonts/OakSans-ExtraBold.woff2);
}
@font-face {
  font-family: OakSans-ExtraBoldItalic;
  src: url(../assets/fonts/OakSans-ExtraBoldItalic.woff2);
}
@font-face {
  font-family: OakSans-Italic;
  src: url(../assets/fonts/OakSans-Italic.woff2);
}
@font-face {
  font-family: OakSans-Light;
  src: url(../assets/fonts/OakSans-Light.woff2);
}
@font-face {
  font-family: OakSans-LightItalic;
  src: url(../assets/fonts/OakSans-LightItalic.woff2);
}
@font-face {
  font-family: OakSans-Medium;
  src: url(../assets/fonts/OakSans-Medium.woff2);
}
@font-face {
  font-family: OakSans-MediumItalic;
  src: url(../assets/fonts/OakSans-MediumItalic.woff2);
}
@font-face {
  font-family: OakSans-Regular;
  src: url(../assets/fonts/OakSans-Regular.woff2);
}
@font-face {
  font-family: OakSans-SemiBold;
  src: url(../assets/fonts/OakSans-SemiBold.woff2);
}
@font-face {
  font-family: OakSans-SemiBoldItalic;
  src: url(../assets/fonts/OakSans-SemiBoldItalic.woff2);
}
