@import "styles/fonts.scss";
@import "styles/variables.scss";




* {
    font-family: $font-regular, 'arial', sans-serif;
    color: $color-text-primary;
    background-color: $color-base;
}

p {
    font-size: 16px;
}

h1 {
    font-size: 64px;
    font-family: $font-bold;
}

h2 {
    font-size: 32px;
    font-family: $font-semibold;
}