@import "styles/fonts.scss";


// #region Color Palette
$night: #141414ff;
$jet: #292929ff;
$white: #ffffffff;
$french-gray: #d2d7dfff;
$silver: #bdbbb0ff;
$battleship-gray: #8a897cff;
// #endregion



//#region Color Variables
$color-text-dark: $night;
$color-text-light: $white;

$color-alpha: $silver;
$color-beta: $battleship-gray;
$color-gamma: $french-gray;
$color-delta: $jet;
//#endregion



//#region Font Variables
$font-light: 'OakSans-Light';
$font-regular: 'OakSans-Regular';
$font-medium: 'OakSans-Medium';
$font-semibold: 'OakSans-SemiBold';
$font-bold: 'OakSans-Bold';
$font-extrabold: 'OakSans-ExtraBold';
$font-black: 'OakSans-Black';

$font-light-italic: 'OakSans-LightItalic';
$font-regular-italic: 'OakSans-RegularItalic';
$font-medium-italic: 'OakSans-MediumItalic';
$font-semibold-italic: 'OakSans-SemiBoldItalic';
$font-bold-italic: 'OakSans-BoldItalic';
$font-extrabold-italic: 'OakSans-ExtraBoldItalic';
$font-black-italic: 'OakSans-BlackItalic';
//#endregion


* {
    font-family: $font-regular, 'arial', sans-serif;
    color: $color-text-dark;
}

p {
    font-size: 16px;
    color: $color-text-dark;
}