<p>home works!</p>
<button (click)="playNote('C4')">C</button>
<button (click)="playNote('D4')">D</button>
<button (click)="playNote('E4')">E</button>
<button (click)="playNote('F4')">F</button>
<button (click)="playNote('G4')">G</button>
<button (click)="playNote('A4')">A</button>
<button (click)="playNote('B4')">B</button>
<button (click)="playNote('C5')">C</button>

<button (click)="playChord(['C4', 'E4', 'G4'])">I</button>
<button (click)="playChord(['D4', 'F4', 'A4'])">II</button>
<button (click)="playChord(['E4', 'G4', 'B4'])">III</button>
<button (click)="playChord(['F4', 'A4', 'C5'])">IV</button>
<button (click)="playChord(['G4', 'B4', 'D5'])">V</button>
<button (click)="playChord(['A4', 'C5', 'E5'])">VI</button>
<button (click)="playChord(['B4', 'D5', 'F5'])">VII</button>
<button (click)="playChord(['C5', 'E5', 'G5'])">I</button>
<button (click)="playChord(['C4', 'E4', 'B4', 'D5'])">I9</button>
<button (click)="playChord(['C4', 'D4', 'G4'])">ISUS2</button>
