@font-face {
  font-family: LexendDeca-Black;
  src: url(../assets/fonts/LexendDeca-Black.ttf);
}
@font-face {
  font-family: LexendDeca-Bold;
  src: url(../assets/fonts/LexendDeca-Bold.ttf);
}
@font-face {
  font-family: LexendDeca-ExtraBold;
  src: url(../assets/fonts/LexendDeca-ExtraBold.ttf);
}
@font-face {
  font-family: LexendDeca-ExtraLight;
  src: url(../assets/fonts/LexendDeca-ExtraLight.ttf);
}
@font-face {
  font-family: LexendDeca-Light;
  src: url(../assets/fonts/LexendDeca-Light.ttf);
}
@font-face {
  font-family: LexendDeca-Medium;
  src: url(../assets/fonts/LexendDeca-Medium.ttf);
}
@font-face {
  font-family: LexendDeca-Regular;
  src: url(../assets/fonts/LexendDeca-Regular.ttf);
}
@font-face {
  font-family: LexendDeca-SemiBold;
  src: url(../assets/fonts/LexendDeca-SemiBold.ttf);
}
@font-face {
  font-family: LexendDeca-Thin;
  src: url(../assets/fonts/LexendDeca-Thin.ttf);
}


@font-face {
  font-family: LexendMega-Black;
  src: url(../assets/fonts/LexendMega-Black.ttf);
}
@font-face {
  font-family: LexendMega-Bold;
  src: url(../assets/fonts/LexendMega-Bold.ttf);
}
@font-face {
  font-family: LexendMega-ExtraBold;
  src: url(../assets/fonts/LexendMega-ExtraBold.ttf);
}
@font-face {
  font-family: LexendMega-ExtraLight;
  src: url(../assets/fonts/LexendMega-ExtraLight.ttf);
}
@font-face {
  font-family: LexendMega-Light;
  src: url(../assets/fonts/LexendMega-Light.ttf);
}
@font-face {
  font-family: LexendMega-Medium;
  src: url(../assets/fonts/LexendMega-Medium.ttf);
}
@font-face {
  font-family: LexendMega-Regular;
  src: url(../assets/fonts/LexendMega-Regular.ttf);
}
@font-face {
  font-family: LexendMega-SemiBold;
  src: url(../assets/fonts/LexendMega-SemiBold.ttf);
}
@font-face {
  font-family: LexendMega-Thin;
  src: url(../assets/fonts/LexendMega-Thin.ttf);
}

