


//#region Color Variables
$color-text-primary: #000000;
$color-text-secondary: #FFFFFF;

$color-alpha: #D9D9D9;
$color-alpha-accent: #B6B6B6; 
$color-beta: #84B448;
$color-beta-accent: #729A3F;
$color-gamma: #FFD66D;
$color-gamma-accent: #B4974C;
$color-delta: #FF4141;
$color-delta: #AB2B2B;

$color-base: #FFFFFF;
//#endregion



//#region Font Variables
$font-light: 'Nunito-Light';
$font-regular: 'Nunito-Regular';
$font-medium: 'Nunito-Medium';
$font-semibold: 'Nunito-SemiBold';
$font-bold: 'Nunito-Bold';
$font-extrabold: 'Nunito-ExtraBold';
$font-black: 'Nunito-Black';

$font-light-italic: 'Nunito-LightItalic';
$font-regular-italic: 'Nunito-RegularItalic';
$font-medium-italic: 'Nunito-MediumItalic';
$font-semibold-italic: 'Nunito-SemiBoldItalic';
$font-bold-italic: 'Nunito-BoldItalic';
$font-extrabold-italic: 'Nunito-ExtraBoldItalic';
$font-black-italic: 'Nunito-BlackItalic';
//#endregion