


//#region Color Variables
$color-text-primary: #000000;
$color-text-secondary: #FFFFFF;

$color-alpha: #FFFFFF;
$color-alpha-accent: #000000; 
$color-beta: #B5F400;
$color-beta-accent: #000000;
$color-gamma: #FFD66D;
$color-gamma-accent: #B4974C;
$color-delta: #FF4141;
$color-delta-accent: #AB2B2B;
$color-epsilon: #FF6767;
$color-pi: #BB92FF;

$color-base: #FFFFFF;
//#endregion



//#region Font Variables
$font-light: 'LexendDeca-Light';
$font-regular: 'LexendDeca-Regular';
$font-medium: 'LexendDeca-Medium';
$font-semibold: 'LexendDeca-SemiBold';
$font-bold: 'LexendDeca-Bold';
$font-extrabold: 'LexendDeca-ExtraBold';
$font-black: 'LexendDeca-Black';
$font-extralight: 'LexendDeca-ExtraLight';
$font-thin: 'LexendDeca-Thin';


$font2-light: 'LexendMega-Light';
$font2-regular: 'LexendMega-Regular';
$font2-medium: 'LexendMega-Medium';
$font2-semibold: 'LexendMega-SemiBold';
$font2-bold: 'LexendMega-Bold';
$font2-extrabold: 'LexendMega-ExtraBold';
$font2-black: 'LexendMega-Black';
$font2-extralight: 'LexendMega-ExtraLight';
$font2-thin: 'LexendMega-Thin';

$font3-extrabold: 'LexendZetta-ExtraBold';


//#endregion