
.cet-progress-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.box {
  width: 30px;
  height: 15px;
  background-color: white;
    border-radius: 5px;
}

.box.correct {
  background-color: green;
}

.box.incorrect {
  background-color: red;
}

.box.default {
  background-color: white;
}

.cet-current-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30px;

  p {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  }

  .cet-incorrect-text {
    color: red;
  }
  
  .cet-correct-text {
    color: green;
  }
}