@use "/src/styles/variables.scss" as var;


button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  min-width: 100px;
  height: 40px;
  border: none;
  background-color: var.$color-alpha;
}

.cet-functional-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cet-scale {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  .cet-note {
    width: 40px;
    height: 40px;
    min-width: unset;
  }
}

.cet-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  

}
