@use "/src/styles/variables.scss" as var;


button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  min-width: 100px;
  height: 40px;
  border: none;
  background-color: var.$color-alpha;
  cursor: pointer;

  &:hover {
    background-color: #0084B8;
  }
}
.cet-playing{
  background-color: green;
  &:hover {
    background-color: green;
  }
}

.cet-failure {
  background-color: red;
  &:hover {
    background-color: red;
  }
}

.cet-functional-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cet-scale {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;

  .cet-note {
    width: 40px;
    height: 40px;
    min-width: unset;
  }
}

.cet-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3px;
  

}


.cet-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  min-width: 100px;
  height: 40px;
  border: none;
  background-color: gray;

  
  &__default {
    background-color: gray;
  }
  &__success {
    background-color: green;
  }
  &__fail {
    background-color: red;
  }


}