<div class="cet-functional-wrapper">


  <ng-container *ngIf="this.sessionSrv.state() === SessionState.FirstInit">
    <app-configuration-panel></app-configuration-panel>
    <div class="cet-start-wrapper">
      <button class="cet-start-button cet-important-button" (click)="initialize()" >START</button>
    </div>
  </ng-container>



  <ng-container *ngIf="this.sessionSrv.state() === SessionState.Active">


    <ng-container>
      <app-progress-info></app-progress-info>
  
      <div class="cet-controls-wrapper">
        <div class="cet-scale">
          <button 
            *ngFor="let note of this.keySrv.selectedNoteList(); let i = index"
            [disabled]="!this.keySrv.possibleRandomNoteIndices().includes(i)"
            class="cet-note"
            id="{{ 'note-' + i }}"
            (click)="userGuess(note)"
            
          >
            {{
              this.keySrv.selectedSolfegeList()[
                i % this.keySrv.selectedSolfegeList().length
              ]
            }}
          </button>
        </div>
        <div class="cet-question-belt">
          <p>Question {{this.sessionSrv.activeQuestion + 1}} of {{this.sessionSrv.questionCount}}</p>
        </div>
        <div class="cet-controls">
          <button
            class="left"
            (click)="this.audioSrv.playNote(this.keySrv.selectedRandomNote())"
          >
            Note
          </button>
          <button
          class="middle"
            (click)="
              this.audioSrv.playProgression(this.configSrv.chordProgressionConfig())
            "
          >
            Reference
          </button>
          <button class="right" [disabled]="!this.sessionSrv.canProceedToTheNextQuestion || this.audioSrv.melodyActive() || this.audioSrv.chordProgressionActive()" (click)="setNewKey()">Next</button>
        </div>
        <button class="cet-give-up" (click)="this.sessionSrv.endSession()">Give up</button>
      </div>

    </ng-container>

    
    
  </ng-container>

  <ng-container *ngIf="this.sessionSrv.state() === SessionState.AfterSession">
    <app-progress-info></app-progress-info>
    <div class="cet-finish-wrapper">
      <div class="cet-finish-belt">
        <p>SCORE:</p>
        <p> {{this.sessionSrv.results.correctCount}} / {{this.sessionSrv.results.questionCount}}</p>
      </div>
      <div class="cet-end-buttons-wrapper">
        <button class="left" routerLink="/home" (click)="this.resetSession()">Main Menu</button>
        <button class="right" (click)="this.resetSession()">Restart</button>
      </div>
    </div>
  </ng-container>
</div>
