<div class="cet-functional-wrapper">
  <h2>Functional Trainer</h2>

  <div class="cet-scale">
    <button *ngFor="let note of selectedNoteList" class="cet-note" (click)="playNote(note)">O</button>
  </div>
  
  <div>
    <button (click)="playNote(selectedRandomNote)" >Random Note</button>
    <button (click)="setRandomNote('C')">New Note</button>
  </div>
  <!-- <button class="cet-note" (click)="playNote('D4')">Re</button>
  <button class="cet-note" (click)="playNote('E4')">Mi</button>
  <button class="cet-note" (click)="playNote('F4')">Fa</button>
  <button class="cet-note" (click)="playNote('G4')">So</button>
  <button class="cet-note" (click)="playNote('A4')">La</button>
  <button class="cet-note" (click)="playNote('B4')">Ti</button>
  <button class="cet-note" (click)="playNote('C5')">Do</button> -->
  <!-- <div class="cet-chords">
    <button (click)="playChord(['C4', 'E4', 'G4'])">I</button>
    <button (click)="playChord(['D4', 'F4', 'A4'])">II</button>
    <button (click)="playChord(['E4', 'G4', 'B4'])">III</button>
    <button (click)="playChord(['F4', 'A4', 'C5'])">IV</button>
    <button (click)="playChord(['G4', 'B4', 'D5'])">V</button>
    <button (click)="playChord(['A4', 'C5', 'E5'])">VI</button>
    <button (click)="playChord(['B4', 'D5', 'F5'])">VII</button>
    <button (click)="playChord(['C5', 'E5', 'G5'])">I</button>
    <button (click)="playChord(['C4', 'E4', 'B4', 'D5'])">I9</button>
    <button (click)="playChord(['C4', 'D4', 'G4'])">ISUS2</button>
  </div> -->
</div>
