<div class="cet-home-wrapper">

    <div class="cet-top-belt">
        <button class="cet-mini-button cet-important-button">Sign Up</button>
        <button class="cet-mini-button">Log In</button>
    </div>

    <div class="cet-menu-track">
        <button class="cet-button functional" routerLink="/functional"><span>Functional Trainer</span></button>
        <button class="cet-button about" routerLink="/about"><span>About</span></button>
        <button class="cet-button about" routerLink="/about"><span>About</span></button>
    </div>

    
    <div class="cet-stats-wrapper">
        <h2>Stats</h2>
        <div class="cet-stats">
            <p>Under Development</p>
        </div>
    </div>
    <div class="cet-lower-belt">
        <button class="cet-go cet-important-button">GO</button>
    </div>
</div>


<!-- <div class="cet-menu">
</div> -->


