<div class="cet-bottom-menu-wrapper">
    <ng-container *ngIf="!this.loadingSrv.loading()">
        <!-- TODO change these to a tags -->
        <button routerLinkActive="active" routerLink="/home">
            <img src="assets/icons/home.svg" alt="Home">
            <span>Home</span>
        </button>
        <button routerLinkActive="active" routerLink="/functional">
            <img src="assets/icons/settings.svg" alt="Settings">
            <span>Trainer</span>
        </button>
        <button routerLinkActive="active" routerLink="/about">
            <img src="assets/icons/about.svg" alt="About">
            <span>About</span>
        </button>
    </ng-container>
</div>