@import "styles/fonts.scss";
@import "styles/variables.scss";


body {
  margin: 0;
  height: 100%;
}

html {
  height: 100%;
}

* {
    font-family: $font-regular, 'arial', sans-serif;
    color: $color-text-primary;
    scrollbar-width: thin;
}

p {
    font-size: 20px;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 32px;
    font-family: $font2-black;
    padding: 0;
    margin: 0;
}

h2 {
    font-size: 24px;
    font-family: $font2-extrabold;
    padding: 0;
    margin: 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 40px;
    border: solid 2px $color-alpha-accent;
    background-color: $color-alpha;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3;
    font-size: 16px;
    font-family: $font-extrabold;
    box-shadow: 3px 3px 0px 0px #000; 
  
    /**
    &:hover {
      box-shadow: 0px 0px 0px 0px #000; 
      transform: translateX(3px) translateY(3px);
      transition: transform 0.3s, box-shadow 0.3s;
    }
    */
  
    &:disabled {
      opacity: 0.4;
      pointer-events: none;
    }
    &.cet-important-button {
      background-color: $color-beta;
      border: solid 2px $color-beta-accent;
      color: $color-text-primary;
    }
  }
